body {
  margin: 10px;
}

.container {
  width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  border: 2px solid #dcdcdc;
  padding-left: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
 background-color: #fc6f03;
}

img {
  width: 150px;
  height: 170px;
}

.content {
  width: 750px;
  border: 1px solid #dcdcdc;
  padding: 40px;
  box-sizing: border-box;
}

.article {
  border-bottom: 1px solid #dcdcdc;
  padding: 40px 20px;
}

.article h3 {
  margin-top: 0px;
}

.article p {
  margin-bottom: 0px;
  color: #484848;
}

.article:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.article:first-child {
  border-top: 0px;
  padding-top: 0px;
}

.form-style {
  display: block;
  margin-bottom: 20px;
}

.form-style .input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 5px;
}

nav.sidebar {
  width: 250px;
  background: #c3030a;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

nav.sidebar a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding: 10px;
}

nav.sidebar a:hover {
  background-color: #660205;
}

nav.sidebar a.active {
  background: #c6575a;
}

table {
  border-collapse: collapse;
  border: 1px solid #565552;
  width: 100%;
  margin-bottom: 30px;
}

table:last-child {
  margin-bottom: 0px;
}
caption {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

td,
th {
  border: 1px solid #565552;
  padding: 10px 5px;
}

th {
  background: #e2cdcd;
}
.no {
  width: 15px;
}
.persatuan {
  width: 50px;
}

.tengah {
  text-align: center;
}

.align {
  text-align: right;
}

footer {
  width: 100%;
  border: 2px solid #dcdcdc;
  padding: 10px 20px;
  text-align: right;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}
